@use 'sections/header';
@use 'sections/main';
@use 'sections/footer';

@mixin primaty-text {
  color: red;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

header {
  @include primaty-text;
}
